/* @import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --color1: crimson;
  --color2: #00e67e;
  --color3: rgb(239, 203, 1);
  --color4: rgb(115, 0, 255);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content {
  height: 100vh;
  width: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s ease-in;
  overflow: hidden;
}

.content .introInitBox {
  position: relative;
  height: 100vh;
  width: 100%;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.content .introInitBox .bgbox {
  position: relative;
  height: 50vh;
  width: calc(100% / 2);
  background-color: transparent;
  overflow: hidden;
}

.content .introInitBox .bgbox .inbox{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #111;
}
.content .introInitBox .bgbox:nth-child(1) .inbox{
  animation: slideleftinitbox 2s 1 ease-in-out;
  box-shadow: 7px 7px 10px #454545a3;
}
.content .introInitBox .bgbox:nth-child(3) .inbox{
  animation: slidedowninitbox 2s 1 ease-in-out;
  box-shadow: -7px 0px 7px 10px #4343439a;
}
.content .introInitBox .bgbox:nth-child(4) .inbox{
  animation: sliderightinitbox 2s 1 ease-in-out;
  box-shadow: 7px 7px 7px 10px #464646c1;
}
.content .introInitBox .bgbox:nth-child(2) .inbox{
  animation: slideupinitbox 2s 1 ease-in-out;
  box-shadow: 7px 0px 7px 10px #353535af;
}

@keyframes sliderightinitbox 
{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
@keyframes slideleftinitbox 
{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes slidedowninitbox 
{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100%);
  }
}

@keyframes slideupinitbox 
{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100%);
  }
}

.content .box1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.content > .box1.deactivate {
  display: none;
}
.content.active {
  background-color: #111;
  transition: 0.4s ease-in;
}

.content .intro .header {
  user-select: none;
}

.content .intro {
}
.content .intro .header #head_name {
  display: flex;
  mix-blend-mode: difference;
}
.content .intro .header #head_name span p {
  font-size: 10em;
  font-family: "Protest Guerrilla", sans-serif;
  color: #fff;
}
.content .intro .header #head_end {
  display: flex;
  mix-blend-mode: normal;
}
.content .intro .header #head_end span p {
  font-size: 7em;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
}
.content .intro .header #head_end span:nth-child(1),
.content .intro .header #head_end span:nth-child(2) {
  mix-blend-mode: difference;
}
.content .intro .header #head_end span:nth-child(3) p {
  color: var(--color1);
}
.content .intro .header #head_end span:nth-child(4) p {
  color: var(--color3);
}
.content .intro .header #head_end span:nth-child(5) p {
  color: var(--color2);
}
.content .intro .header #head_end span:nth-child(6) p {
  color: var(--color4);
}
/* 
.content .intro .heading {
  position: absolute;
  top: 150px;
  left: 150px;
  transform: rotateZ(-90deg);
  mix-blend-mode: difference;
  user-select: none;
  border-bottom: 2px solid #fff;
  width: 25em;
  padding-left: 30px;
  overflow: hidden;
  background-color: aqua; 
  animation: slidedownline 1s ease-out 1;
}
@keyframes slidedownline {
  0% {
    top: -150px;
  }
  100% {
    top: 150px;
  }
} */
/* .content .intro.deactivate .heading {
  top: -150px;
  animation: slideupline 1s ease-out 1;
  transition-delay: 2s;
  animation-delay: 0.3s;
} */
/* @keyframes slideupline {
  0% {
    top: 150px;
  }
  100% {
    top: -150px;
  }
} */

/* .content .intro .heading p {
  font-size: 4em;
  color: #b8b8b8;
  /* font-family: 'Rubik Doodle Shadow', sans-serif; 
  font-family: "Allura", cursive;
  transform: translateY(100px);
} */
/* .content .intro .heading.active p {
  animation: slideupheading 0.8s 1;
  transform: translateY(0px);
  transition: 0.5s ease-out;
} */
/* @keyframes slideupheading {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
} */

/* .content .intro .heading.deactive p {
  animation: slideupheading 0.6s 1 ease;
  transform: translateY(100px);
}

@keyframes slidedownheading {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
} */

.content .box1 .intro .header .name span {
  /* background: yellow; */
  margin-left: 1px;
  min-width: 50px;
  overflow: hidden;
}

.content .box1 .intro .header .ending span {
  margin-left: 1px;
  min-width: 20px;
  overflow: hidden;
}

.content .box1 .intro .header .name span:nth-child(odd) p {
  animation: sliderightname 1.8s 1 ease-out;
}
@keyframes sliderightname {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0px);
  }
}
.content .box1 .intro .header .name span:nth-child(even) p {
  animation: slidedownname 1.4s 1 ease-out;
}
@keyframes slidedownname {
  0% {
    transform: translateY(-155px);
  }
  100% {
    transform: translateY(0px);
  }
}

.content .box1 .intro .header .ending span p {
  animation: slideleftending 1.4s 1 ease-out;
}
@keyframes slideleftending {
  0% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0px);
  }
}

.content .box1 .intro.deactivate .header .name span p {
  transform: translateX(-120px);
  transition: 0.5s ease;
  animation: slideleftname 0.5s 1 ease;
}

@keyframes slideleftname {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-120px);
  }
}

.content .box1 .intro.deactivate .header .ending span p {
  transform: translateX(90px);
  animation: slideleftendingrev 0.5s 1 ease-out;
}
@keyframes slideleftendingrev {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(90px);
  }
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.4s ease-out;
  mix-blend-mode: difference;
  z-index: 10;
}

.nextbtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}
.nextbtn ion-icon {
  font-size: 22px;
  mix-blend-mode: difference;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.content .box2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: none;
  overflow: hidden;
}

.content .box2.activate {
  display: flex;
}
.content .box2 .info {
  display: flex;
  mix-blend-mode: normal;
}
.content .box2 .info span {
  /* background-color: red; */
  margin-left: 1px;
  min-width: 10px;
  user-select: none;
  overflow: hidden;
}
.content .box2 .info span:nth-child(9) p,
.content .box2 .info span:nth-child(10) p,
.content .box2 .info span:nth-child(11) p,
.content .box2 .info span:nth-child(12) p {
  mix-blend-mode: normal;
}

/* .content .box2 .info span{
  mix-blend-mode:hard-light;
  color: #000;
} */

.content .box2 .info span:nth-child(9) p {
  color: var(--color1);
}
.content .box2 .info span:nth-child(10) p {
  color: var(--color3);
}
.content .box2 .info span:nth-child(11) p {
  color: var(--color2);
}
.content .box2 .info span:nth-child(12) p {
  color: var(--color4);
}

.content .box2 .info span p {
  min-width: inherit;
  font-size: 3rem;
  font-family: "Zen Dots", sans-serif;
  color: #ddd;
  transform: translateX(0px);
  mix-blend-mode: difference;
}
.content .box2.activate .info span p {
  animation: box2ltor 0.7s linear 1;
}
@keyframes box2ltor {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}
.content .box2.activate .nextbtn2 {
  position: absolute;
  bottom: 0;
  height: 50px;
  font-size: 22px;
  overflow: hidden;
  transition: 0.5s ease;
  color: #fff;
  mix-blend-mode: difference;
  cursor: pointer;
}
.content .box2.activate .tagline {
  position: relative;
  margin-top: 25px;
  mix-blend-mode: difference;
  width: 50%;
  /* overflow: hidden; */
}
.content .box2.activate .tagline p {
  color: #fff;
  /* font-family: "Dancing Script", cursive; */
  font-family: "Bad Script", cursive;
  font-size: 20px;
  user-select: none;
  width: 82%;
  margin: auto;
}

.content .box2.activate .text span {
  position: relative;
  display: inline-block;
}

.content .box2.activate .aboutbox {
  position: absolute;
  bottom: 220px;
  left: -140px;
  transform: rotateZ(-90deg);
  mix-blend-mode: difference;
}

.content .box2.activate .aboutbox svg g {
  stroke-width: 2;
  stroke: #5f5f5f;
  animation: linecomplete 5s infinite forwards linear;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  fill: transparent;
}
@keyframes linecomplete {
  0%,
  100% {
    stroke-dashoffset: 1500;
  }
  50% {
    stroke-dashoffset: 0;
  }
}

.nextbtn2 {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}
.nextbtn2 ion-icon {
  font-size: 22px;
  mix-blend-mode: difference;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.content .box2.deactivate .info span p {
  animation: box2infoOut 0.7s linear 1;
  transform: translateX(45px);
}
@keyframes box2infoOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(45px);
  }
}

.content .box2.deactivate .aboutbox svg g {
  animation: linefadeout 0.7s 1 backwards linear;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
}
@keyframes linefadeout {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1500;
  }
}

.content .box3 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: none;
  overflow: hidden;
}

.content .box3.activate {
  display: flex;
}
