/* @import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");

:root {
  --color1: crimson;
  --color2: #00e67e;
  --color3: rgb(239, 203, 1);
  --color4: rgb(115, 0, 255);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content {
  height: 100vh;
  width: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s ease-in;
  overflow: hidden;
}

.content .introInitBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.content .introInitBox.deactivate {
  display: none;
}
.content .introInitBox .bgbox {
  position: relative;
  height: calc(100vh / 3);
  width: calc(100% / 9);
  background-color: transparent;
  overflow: hidden;
  /* perspective: 1000px; */
}

.content .introInitBox .bgbox .inbox {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #111;
}

@keyframes sliderightinitbox {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideleftinitbox {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slidedowninitbox {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideupinitbox {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.content .introInitBox .introInitContent {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 50vh;
  /* background-color: red; */
  display: flex;
  overflow: hidden;
}
.content .introInitBox .introInitContent .introcontent {
  position: relative;
  width: calc(100% / 5);
  height: 50vh;
  margin-left: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.content .introInitBox .introInitContent .introcontent p {
  font-family: "Black Ops One", system-ui;
  font-size: 12em;
  color: #fff;
  border-radius: 50%;
  height: calc(100% / 1.5);
  width: calc(100% / 1.2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: purple; */
  border: 5px solid #fff;
  user-select: none;
}
.content .introInitBox .introInitContent .introcontent:nth-child(1),
.introcontent:nth-child(2),
.introcontent:nth-child(4),
.introcontent:nth-child(5) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: top;
  background-position-x: center;
  /* box-shadow: inset 3px -3px 5px #000000b9; */
}

.content .introInitBox .introInitContent .introcontent:nth-child(1) {
  background-image: url("./images/img\ \(1\).jpg");
}
.content .introInitBox .introInitContent .introcontent:nth-child(2) {
  background-image: url("./images/img\ \(3\).jpg");
}
.content .introInitBox .introInitContent .introcontent:nth-child(4) {
  background-image: url("./images/img\ \(2\).jpg");
}
.content .introInitBox .introInitContent .introcontent:nth-child(5) {
  background-image: url("./images/img\ \(4\).jpg");
}

.content .introInitBox .introInitContent .introcontent {
  transform: translateY(100%) translateX(180px);
  animation: introInitContentAnimate 3s 1 ease-in-out;
  /* transform: translateY(0%) translateX(-20px); */
}

.content .introInitBox .introInitContent .introcontent:nth-child(1) {
  animation-delay: 0.1s;
}
.content .introInitBox .introInitContent .introcontent:nth-child(2) {
  animation-delay: 0.2s;
}
.content .introInitBox .introInitContent .introcontent:nth-child(3) {
  animation-delay: 0.3s;
}
.content .introInitBox .introInitContent .introcontent:nth-child(4) {
  animation-delay: 0.4s;
}
.content .introInitBox .introInitContent .introcontent:nth-child(5) {
  animation-delay: 0.5s;
}
@keyframes introInitContentAnimate {
  0% {
    transform: translateY(100%) translateX(500px);
  }
  20% {
    transform: translateY(0%) translateX(400px);
  }
  40% {
    transform: translateY(0%) translateX(0px);
  }
  85% {
    transform: translateY(0%) translateX(0px);
  }
  100% {
    transform: translateY(-100%) translateX(-20px);
  }
}

.content .box1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.content > .box1.deactivate {
  display: none;
}
.content.active {
  background-color: #111;
  transition: 0.4s ease-in;
}

.content .intro .header {
  user-select: none;
}

.content .intro .header #head_name {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  mix-blend-mode: difference;
}
.content .intro .header #head_name span p {
  font-size: 10em;
  /* font-family: "Playfair Display SC", serif;
  font-family: "Monoton", sans-serif; */
  font-family: "Wallpoet", sans-serif;
  color: #fff;
}
.content .intro .header #head_end {
  display: flex;
  justify-content: center;
  mix-blend-mode: normal;
}
.content .intro .header #head_end span p {
  font-size: 10em;
  /* font-family: "Playfair Display SC", serif; */
  font-family: "Wallpoet", sans-serif;
  color: #ffffff;
}
.content .intro .header #head_end span {
  mix-blend-mode: difference;
}

.content .box1 .intro .header .name span {
  /* background: yellow; */
  /* margin-left: 1px; */
  min-width: 50px;
  overflow: hidden;
  height: calc(100vh / 4.5);
  /* background-color: red; */
}

.content .box1 .intro .header .ending span {
  margin-top: 20px;
  margin-left: 1px;
  min-width: 20px;
  height: calc(100vh / 4);
  overflow: hidden;
  /* background-color: purple; */
}

.content .box1 .intro .header .name span p {
  animation: slideupname 1.5s 1 ease-in-out;
  transform: translateY(-10px);
}
@keyframes slideupname {
  0% {
    transform: translateY(155px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.content .box1 .intro .header .ending span p {
  animation: slideDownending 1.4s 1 ease-in-out;
  transform: translateY(-35px);
}
@keyframes slideDownending {
  0% {
    transform: translateY(-185px);
  }
  100% {
    transform: translateY(-35px);
  }
}

.content .box1 .intro.deactivate .header .name span p {
  transform: translateX(-140px);
  transition: 0.5s ease;
  animation: slideleftname 0.5s 1 ease;
}

@keyframes slideleftname {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-140px);
  }
}

.content .box1 .intro.deactivate .header .ending span p {
  transform: translateX(140px);
  animation: slideleftendingrev 0.5s 1 ease-out;
}
@keyframes slideleftendingrev {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(140px);
  }
}

.content .box1 .intro .bgbox1Intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1300px;
  mix-blend-mode: difference;
  /* background: #000; */
}
.content .box1 .intro .bgbox1Intro .bgbox1box:nth-child(1) {
  position: absolute;
  height: 32vh;
  width: 56%;
  border: 1px solid #fff;
  padding: 20px;
  animation: bgbox1Introentryline 2s 1 ease-in-out;
}

.content .box1 .intro .bgbox1Intro .bgbox1box:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: bgbox1Introentry 2s 1 ease-in-out;
}

.content .box1 .intro.deactivate .bgbox1Intro .bgbox1box:nth-child(1) {
  animation: bgbox1Introexitline 1s 1 ease-in-out;
}
.content .box1 .intro.deactivate .bgbox1Intro .bgbox1box:nth-child(1)::before {
  animation: bgbox1Introexit 1s 1 ease-in-out;
}

@keyframes bgbox1Introentry {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes bgbox1Introentryline {
  0% {
    width: 0%;
    border: 1px solid #000;
  }
  100% {
    width: 56%;
    border: 1px solid #fff;
  }
}

@keyframes bgbox1Introexit {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes bgbox1Introexitline {
  0% {
    width: 56%;
    border: 1px solid #fff;
  }
  100% {
    width: 0%;
    border: 1px solid #000;
  }
}

.content .box1 .intro .bgbox1Intro .bgbox1box:nth-child(2) {
  position: absolute;
  top: 32vh;
  left: 50%;
  height: 32vh;
  width: 56%;
  border: 1px solid #fff;
  animation: bgbox1Introentryline 2s 1 ease-in-out;
}
.content .box1 .intro .bgbox1Intro .bgbox1box:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: -20px;
  animation: bgbox1Introentry 2s 1 ease-in-out;
}

.content .box1 .intro.deactivate .bgbox1Intro .bgbox1box:nth-child(2) {
  animation: bgbox1Introexitline 1s 1 ease-in-out;
}
.content .box1 .intro.deactivate .bgbox1Intro .bgbox1box:nth-child(2)::before {
  animation: bgbox1Introexit 1s 1 ease-in-out;
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.4s ease-out;
  mix-blend-mode: difference;
  z-index: 10;
}

.nextbtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}
.nextbtn ion-icon {
  font-size: 22px;
  mix-blend-mode: difference;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.content .box2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: none;
  overflow: hidden;
}

.content .box2.activate {
  display: flex;
}
.content .box2 .info {
  display: flex;
  mix-blend-mode: normal;
}
.content .box2 .info span {
  /* background-color: red; */
  margin-left: 1px;
  min-width: 10px;
  user-select: none;
  overflow: hidden;
}
.content .box2 .info span:nth-child(9) p,
.content .box2 .info span:nth-child(10) p,
.content .box2 .info span:nth-child(11) p,
.content .box2 .info span:nth-child(12) p {
  mix-blend-mode: normal;
}

/* .content .box2 .info span{
  mix-blend-mode:hard-light;
  color: #000;
} */

.content .box2 .info span:nth-child(9) p {
  color: var(--color1);
}
.content .box2 .info span:nth-child(10) p {
  color: var(--color3);
}
.content .box2 .info span:nth-child(11) p {
  color: var(--color2);
}
.content .box2 .info span:nth-child(12) p {
  color: var(--color4);
}

.content .box2 .info span p {
  min-width: inherit;
  font-size: 3rem;
  font-family: "Zen Dots", sans-serif;
  color: #ddd;
  transform: translateX(0px);
  mix-blend-mode: difference;
}
.content .box2.activate .info span p {
  animation: box2ltor 0.7s linear 1;
}
@keyframes box2ltor {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}
.content .box2.activate .nextbtn2 {
  position: absolute;
  bottom: 0;
  height: 50px;
  font-size: 22px;
  overflow: hidden;
  transition: 0.5s ease;
  color: #fff;
  mix-blend-mode: difference;
  cursor: pointer;
}
.content .box2.activate .tagline {
  position: relative;
  margin-top: 25px;
  mix-blend-mode: difference;
  width: 50%;
  /* overflow: hidden; */
}
.content .box2.activate .tagline p {
  color: #fff;
  /* font-family: "Dancing Script", cursive; */
  font-family: "Bad Script", cursive;
  font-size: 20px;
  user-select: none;
  width: 82%;
  margin: auto;
}

.content .box2.activate .text span {
  position: relative;
  display: inline-block;
}

.content .box2.activate .aboutbox {
  position: absolute;
  bottom: 220px;
  left: -140px;
  transform: rotateZ(-90deg);
  mix-blend-mode: difference;
}

.content .box2.activate .aboutbox svg g {
  stroke-width: 2;
  stroke: #5f5f5f;
  animation: linecomplete 5s infinite forwards linear;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  fill: transparent;
}
@keyframes linecomplete {
  0%,
  100% {
    stroke-dashoffset: 1500;
  }
  50% {
    stroke-dashoffset: 0;
  }
}

.nextbtn2 {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}
.nextbtn2 ion-icon {
  font-size: 22px;
  mix-blend-mode: difference;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.content .box2.deactivate .info span p {
  animation: box2infoOut 0.7s linear 1;
  transform: translateX(45px);
}
@keyframes box2infoOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(45px);
  }
}

.content .box2.deactivate .aboutbox svg g {
  animation: linefadeout 0.7s 1 backwards linear;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
}
@keyframes linefadeout {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1500;
  }
}

.content .box3 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: none;
  overflow: hidden;
}

.content .box3.activate {
  display: flex;
  background-color: #111;
}

.content .box3.activate #canvas1 {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  user-select: none;
}

.content .box3.activate .box3content {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;
  color: #fff;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.box3content .text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 0.6em;
  transform: scale(2);
  padding: 30px;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  font-family: "Poppins", sans-serif;
  margin-top: -25px;
}
.box3content .text::before,
.box3content .text::after {
  padding: 30px;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: black; */
  overflow: hidden;
  top: 0;
  left: 0;
}
.box3content .text.active::before {
  left: 3px;
  text-shadow: -3px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
.box3content .text.active::after {
  left: -3px;
  text-shadow: -3px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

.bgbox3text {
  position: relative;
  clip-path: polygon(
    6.77% 0.38%,
    44.44% 0%,
    49.79% 8.14%,
    94.08% 8.14%,
    100% 17.2%,
    100% 84.55%,
    94.08% 90.86%,
    42.37% 90.86%,
    38.01% 82.36%,
    6.77% 82.36%,
    0% 68.68%,
    0% 13.57%
  );
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #ffffff;
  overflow: hidden;
  padding: 10px;
}

.bgbox3text::before{
  position: absolute;
  content:'';
  clip-path: polygon(
    6.77% 0.38%,
    44.44% 0%,
    49.79% 8.14%,
    94.08% 8.14%,
    100% 17.2%,
    100% 84.55%,
    94.08% 90.86%,
    42.37% 90.86%,
    38.01% 82.36%,
    6.77% 82.36%,
    0% 68.68%,
    0% 13.57%
  );
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: rgb(0, 0, 0);
}